In [1]:
import numpy as np 
import pandas as pd

In [2]:
list_countries = ["Canada","China","France","Germany","Japan","Korea","Switzerland","United Kingdom", "United States"]
df = pd.read_csv("./data/Macro_Vars_IMF/WEOApr2023all.csv")

In [3]:
filtered_df = df[df['Country'].isin(list_countries)]
filtered_df
filtered_df["WEO Subject Code"].unique()

array(['NGDP_R', 'NGDP_RPCH', 'NGDP', 'NGDPD', 'PPPGDP', 'NGDP_D',
       'NGDPRPC', 'NGDPRPPPPC', 'NGDPPC', 'NGDPDPC', 'PPPPC',
       'NGAP_NPGDP', 'PPPSH', 'PPPEX', 'NID_NGDP', 'NGSD_NGDP', 'PCPI',
       'PCPIPCH', 'PCPIE', 'PCPIEPCH', 'TM_RPCH', 'TMG_RPCH', 'TX_RPCH',
       'TXG_RPCH', 'LUR', 'LE', 'LP', 'GGR', 'GGR_NGDP', 'GGX',
       'GGX_NGDP', 'GGXCNL', 'GGXCNL_NGDP', 'GGSB', 'GGSB_NPGDP',
       'GGXONLB', 'GGXONLB_NGDP', 'GGXWDN', 'GGXWDN_NGDP', 'GGXWDG',
       'GGXWDG_NGDP', 'NGDP_FY', 'BCA', 'BCA_NGDPD'], dtype=object)

In [4]:
df_y= pd.read_csv("./data/GERD_OECD/DP_LIVE_08052023154811337.csv")
df_y

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,AUS,GDEXPRD,TOT,MLN_USD,A,1981,3528.480307,NaN
1,AUS,GDEXPRD,TOT,MLN_USD,A,1984,4306.088085,NaN
2,AUS,GDEXPRD,TOT,MLN_USD,A,1986,5287.297057,NaN
3,AUS,GDEXPRD,TOT,MLN_USD,A,1987,5396.351999,NaN
4,AUS,GDEXPRD,TOT,MLN_USD,A,1988,5733.007716,NaN
...,...,...,...,...,...,...,...,...
2891,EU27_2020,GDEXPRD,TOT,PC_GDP,A,2017,2.030451,NaN
2892,EU27_2020,GDEXPRD,TOT,PC_GDP,A,2018,2.073818,NaN
2893,EU27_2020,GDEXPRD,TOT,PC_GDP,A,2019,2.108767,NaN
2894,EU27_2020,GDEXPRD,TOT,PC_GDP,A,2020,2.187133,NaN
2895,EU27_2020,GDEXPRD,TOT,PC_GDP,A,2021,2.149410,NaN

In [5]:
list_train = ["FRA","CHN","CAN","DEU","JPN","GBR","USA","CHE","KOR"] 

df_y_train = df_y[df_y['LOCATION'].isin(list_train)]
df_y_train

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
198,CAN,GDEXPRD,TOT,MLN_USD,A,1981,8458.530676,NaN
199,CAN,GDEXPRD,TOT,MLN_USD,A,1982,9081.355304,NaN
200,CAN,GDEXPRD,TOT,MLN_USD,A,1983,9126.490389,NaN
201,CAN,GDEXPRD,TOT,MLN_USD,A,1984,9877.619587,NaN
202,CAN,GDEXPRD,TOT,MLN_USD,A,1985,10604.457972,NaN
...,...,...,...,...,...,...,...,...
2165,CHN,GDEXPRD,TOT,PC_GDP,A,2014,2.022433,NaN
2166,CHN,GDEXPRD,TOT,PC_GDP,A,2015,2.057010,NaN
2167,CHN,GDEXPRD,TOT,PC_GDP,A,2016,2.100328,NaN
2168,CHN,GDEXPRD,TOT,PC_GDP,A,2017,2.116030,NaN
2169,CHN,GDEXPRD,TOT,PC_GDP,A,2018,2.140578,NaN

### ***********************************************

Fetching google trends words

In [6]:
from pytrends.request import TrendReq
import pandas as pd

In [26]:
from pytrends.request import TrendReq
import pandas as pd

# Initialize pytrends
pytrend = TrendReq()

# List of keywords
keywords = [
    "R&D Expenditure", "Product Development", "Innovation Management",
    "Innovation Strategy", "Government Grants", "Research Funding",
    "Startup Incubation", "Technology Park", "Patent Attorney",
    "Patent Registration", "R&D Jobs", "Collaboration with Industry",
    "Research Grant", "R&D Tax Credit", "VC Investment", "Startup Funding"
]

# Set country and timeframe
country = 'US'
timeframe = '2010-01-01 2020-12-31'

# Split keywords into chunks of 5
keyword_chunks = [keywords[i:i + 5] for i in range(0, len(keywords), 5)]

# Initialize an empty list to collect data frames
dfs = []

# Fetch the data for each chunk and add to the list
for chunk in keyword_chunks:
    pytrend.build_payload(kw_list=chunk, timeframe=timeframe, geo=country)
    data = pytrend.interest_over_time()
    
    # Drop the 'isPartial' column
    data = data.drop(columns=['isPartial'])

    dfs.append(data)
    print(dfs)
# Concatenate all data frames along the columns
combined_data = pd.concat(dfs, axis=1)

[            R&D Expenditure  Product Development  Innovation Management  \
date
2010-01-01                0                   34                      5
2010-02-01                0                   32                      4
2010-03-01                1                   35                      5
2010-04-01                0                   33                      4
2010-05-01                0                   29                      6
...                     ...                  ...                    ...
2020-08-01                0                    0                      4
2020-09-01                0                    0                      5
2020-10-01                0                    0                      5
2020-11-01                0                    0                      4
2020-12-01                0                    0                      4

            Innovation Strategy  Government Grants
date
2010-01-01                    2                100
2010-02-01                    3                 81
2010-03-01                    4                 81
2010-04-01                    4                 83
2010-05-01                    3                 78
...                         ...                ...
2020-08-01                    0                 20
2020-09-01                    0                 24
2020-10-01                    0                 22
2020-11-01                    0                 17
2020-12-01                    0                 20

[132 rows x 5 columns]]
[            R&D Expenditure  Product Development  Innovation Management  \
date
2010-01-01                0                   34                      5
2010-02-01                0                   32                      4
2010-03-01                1                   35                      5
2010-04-01                0                   33                      4
2010-05-01                0                   29                      6
...                     ...                  ...                    ...
2020-08-01                0                    0                      4
2020-09-01                0                    0                      5
2020-10-01                0                    0                      5
2020-11-01                0                    0                      4
2020-12-01                0                    0                      4

            Innovation Strategy  Government Grants
date
2010-01-01                    2                100
2010-02-01                    3                 81
2010-03-01                    4                 81
2010-04-01                    4                 83
2010-05-01                    3                 78
...                         ...                ...
2020-08-01                    0                 20
2020-09-01                    0                 24
2020-10-01                    0                 22
2020-11-01                    0                 17
2020-12-01                    0                 20

[132 rows x 5 columns],             Research Funding  Startup Incubation  Technology Park  \
date
2010-01-01                76                   0               71
2010-02-01                65                   0               79
2010-03-01                80                   0               79
2010-04-01                77                   0               78
2010-05-01                58                   0               70
...                      ...                 ...              ...
2020-08-01                30                   0               38
2020-09-01                41                   0               44
2020-10-01                35                   0               39
2020-11-01                30                   0               31
2020-12-01                28                   0               32

            Patent Attorney  Patent Registration
date
2010-01-01               84                    7
2010-02-01               83                    9
2010-03-01               95                    9
2010-04-01               83                    9
2010-05-01               96                    7
...                     ...                  ...
2020-08-01               44                    3
2020-09-01               43                    3
2020-10-01               42                    5
2020-11-01               39                    2
2020-12-01               38                    3

[132 rows x 5 columns]]
[            R&D Expenditure  Product Development  Innovation Management  \
date
2010-01-01                0                   34                      5
2010-02-01                0                   32                      4
2010-03-01                1                   35                      5
2010-04-01                0                   33                      4
2010-05-01                0                   29                      6
...                     ...                  ...                    ...
2020-08-01                0                    0                      4
2020-09-01                0                    0                      5
2020-10-01                0                    0                      5
2020-11-01                0                    0                      4
2020-12-01                0                    0                      4

            Innovation Strategy  Government Grants
date
2010-01-01                    2                100
2010-02-01                    3                 81
2010-03-01                    4                 81
2010-04-01                    4                 83
2010-05-01                    3                 78
...                         ...                ...
2020-08-01                    0                 20
2020-09-01                    0                 24
2020-10-01                    0                 22
2020-11-01                    0                 17
2020-12-01                    0                 20

[132 rows x 5 columns],             Research Funding  Startup Incubation  Technology Park  \
date
2010-01-01                76                   0               71
2010-02-01                65                   0               79
2010-03-01                80                   0               79
2010-04-01                77                   0               78
2010-05-01                58                   0               70
...                      ...                 ...              ...
2020-08-01                30                   0               38
2020-09-01                41                   0               44
2020-10-01                35                   0               39
2020-11-01                30                   0               31
2020-12-01                28                   0               32

            Patent Attorney  Patent Registration
date
2010-01-01               84                    7
2010-02-01               83                    9
2010-03-01               95                    9
2010-04-01               83                    9
2010-05-01               96                    7
...                     ...                  ...
2020-08-01               44                    3
2020-09-01               43                    3
2020-10-01               42                    5
2020-11-01               39                    2
2020-12-01               38                    3

[132 rows x 5 columns],             R&D Jobs  Collaboration with Industry  Research Grant  \
date
2010-01-01        10                            2              94
2010-02-01         0                            0              91
2010-03-01         8                            4             100
2010-04-01         7                            0              92
2010-05-01         4                            0              79
...              ...                          ...             ...
2020-08-01         8                            0              41
2020-09-01         7                            1              43
2020-10-01         8                            1              38
2020-11-01         6                            1              31
2020-12-01         7                            1              27

            R&D Tax Credit  VC Investment
date
2010-01-01              10              2
2010-02-01               5              5
2010-03-01               8              4
2010-04-01               4              0
2010-05-01               8              0
...                    ...            ...
2020-08-01              14              5
2020-09-01              15              7
2020-10-01              10              4
2020-11-01              11              4
2020-12-01              16              4

[132 rows x 5 columns]]

[            R&D Expenditure  Product Development  Innovation Management  \
date
2010-01-01                0                   34                      5
2010-02-01                0                   32                      4
2010-03-01                1                   35                      5
2010-04-01                0                   33                      4
2010-05-01                0                   29                      6
...                     ...                  ...                    ...
2020-08-01                0                    0                      4
2020-09-01                0                    0                      5
2020-10-01                0                    0                      5
2020-11-01                0                    0                      4
2020-12-01                0                    0                      4

            Innovation Strategy  Government Grants
date
2010-01-01                    2                100
2010-02-01                    3                 81
2010-03-01                    4                 81
2010-04-01                    4                 83
2010-05-01                    3                 78
...                         ...                ...
2020-08-01                    0                 20
2020-09-01                    0                 24
2020-10-01                    0                 22
2020-11-01                    0                 17
2020-12-01                    0                 20

[132 rows x 5 columns],             Research Funding  Startup Incubation  Technology Park  \
date
2010-01-01                76                   0               71
2010-02-01                65                   0               79
2010-03-01                80                   0               79
2010-04-01                77                   0               78
2010-05-01                58                   0               70
...                      ...                 ...              ...
2020-08-01                30                   0               38
2020-09-01                41                   0               44
2020-10-01                35                   0               39
2020-11-01                30                   0               31
2020-12-01                28                   0               32

            Patent Attorney  Patent Registration
date
2010-01-01               84                    7
2010-02-01               83                    9
2010-03-01               95                    9
2010-04-01               83                    9
2010-05-01               96                    7
...                     ...                  ...
2020-08-01               44                    3
2020-09-01               43                    3
2020-10-01               42                    5
2020-11-01               39                    2
2020-12-01               38                    3

[132 rows x 5 columns],             R&D Jobs  Collaboration with Industry  Research Grant  \
date
2010-01-01        10                            2              94
2010-02-01         0                            0              91
2010-03-01         8                            4             100
2010-04-01         7                            0              92
2010-05-01         4                            0              79
...              ...                          ...             ...
2020-08-01         8                            0              41
2020-09-01         7                            1              43
2020-10-01         8                            1              38
2020-11-01         6                            1              31
2020-12-01         7                            1              27

            R&D Tax Credit  VC Investment
date
2010-01-01              10              2
2010-02-01               5              5
2010-03-01               8              4
2010-04-01               4              0
2010-05-01               8              0
...                    ...            ...
2020-08-01              14              5
2020-09-01              15              7
2020-10-01              10              4
2020-11-01              11              4
2020-12-01              16              4

[132 rows x 5 columns],             Startup Funding
date
2010-01-01               15
2010-02-01               16
2010-03-01               19
2010-04-01               31
2010-05-01               26
...                     ...
2020-08-01               79
2020-09-01               87
2020-10-01               80
2020-11-01               75
2020-12-01               59

[132 rows x 1 columns]]

In [28]:
combined_data

,R&D Expenditure,Product Development,Innovation Management,Innovation Strategy,Government Grants,Research Funding,Startup Incubation,Technology Park,Patent Attorney,Patent Registration,R&D Jobs,Collaboration with Industry,Research Grant,R&D Tax Credit,VC Investment,Startup Funding
date,,,,,,,,,,,,,,,,
2010-01-01,0,34,5,2,100,76,0,71,84,7,10,2,94,10,2,15
2010-02-01,0,32,4,3,81,65,0,79,83,9,0,0,91,5,5,16
2010-03-01,1,35,5,4,81,80,0,79,95,9,8,4,100,8,4,19
2010-04-01,0,33,4,4,83,77,0,78,83,9,7,0,92,4,0,31
2010-05-01,0,29,6,3,78,58,0,70,96,7,4,0,79,8,0,26
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,0,0,4,0,20,30,0,38,44,3,8,0,41,14,5,79
2020-09-01,0,0,5,0,24,41,0,44,43,3,7,1,43,15,7,87
2020-10-01,0,0,5,0,22,35,0,39,42,5,8,1,38,10,4,80
2020-11-01,0,0,4,0,17,30,0,31,39,2,6,1,31,11,4,75
2020-12-01,0,0,4,0,20,28,0,32,38,3,7,1,27,16,4,59

In [57]:
from pytrends.request import TrendReq
import pandas as pd

# Initialize pytrends
pytrend = TrendReq()

# List of keywords
keywords = [
    "R&D Expenditure", "Product Development", "Innovation Management",
    "Innovation Strategy", "Government Grants", "Research Funding",
    "Startup Incubation", "Technology Park", "Patent Attorney",
    "Patent Registration", "R&D Jobs", "Collaboration with Industry",
    "Research Grant", "R&D Tax Credit", "VC Investment", "Startup Funding"
]

# List of countries
countries = ['CH']

# Set timeframe
timeframe = '2010-01-01 2020-12-31'

# Split keywords into chunks of 5
keyword_chunks = [keywords[i:i + 5] for i in range(0, len(keywords), 5)]

# Dictionary to hold data frames for each country
country_data_frames = {}

# Loop over each country
for country in countries:
    # Initialize an empty list to collect data frames for this country
    dfs = []
    
    # Fetch the data for each chunk and add to the list
    for chunk in keyword_chunks:
        pytrend.build_payload(kw_list=chunk, timeframe=timeframe, geo=country)
        data = pytrend.interest_over_time()
        
        # Drop the 'isPartial' column
        if 'isPartial' in data.columns:
            data = data.drop(columns=['isPartial'])

        dfs.append(data)

    # Concatenate all data frames along the columns
    combined_data = pd.concat(dfs, axis=1)

    # Store the combined data frame in the dictionary
    country_data_frames[country] = combined_data

# Now, country_data_frames contains the data frames for e

In [60]:
country_data_frames["CH"]
switzerland_data = country_data_frames["CH"]

# Define the file name for the CSV
csv_filename = "trends_data_CH.csv"

# Save the DataFrame to CSV
switzerland_data.to_csv(csv_filename, index=True)

In [42]:
# Initialize an empty list to collect all data frames with a country column
all_data = []

# Loop over each country and its DataFrame
for country, df in country_data_frames.items():
    # Add a new column to each DataFrame for the country
    df['Country'] = country

    # Append the modified DataFrame to the list
    all_data.append(df)

# Concatenate all DataFrames into a single DataFrame
combined_data = pd.concat(all_data, axis=0)
combined_data["year"] = combined_data.index

In [45]:
combined_data["year"] =  combined_data["year"].apply(lambda x : str(x).split("-")[0])
combined_data = combined_data.reset_index(drop=True)

In [53]:
combined_data
combined_data_monthly = combined_data
combined_data_monthly = combined_data_monthly.fillna(0)

In [55]:
combined_data_yearly =  combined_data_monthly.groupby(['year', 'Country']).mean()
combined_data_yearly = combined_data_yearly.reset_index()
combined_data_yearly

,year,Country,R&D Expenditure,Product Development,Innovation Management,Innovation Strategy,Government Grants,Research Funding,Startup Incubation,Technology Park,Patent Attorney,Patent Registration,R&D Jobs,Collaboration with Industry,Research Grant,R&D Tax Credit,VC Investment,Startup Funding
0,2010,CA,0.000000,17.416667,4.083333,3.166667,74.250000,66.666667,0.000000,35.583333,12.250000,4.166667,3.916667,0.000000,73.833333,5.500000,3.833333,13.333333
1,2010,CN,0.000000,5.333333,1.833333,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,2010,DE,0.000000,59.250000,45.500000,6.250000,5.500000,29.166667,0.000000,42.166667,42.250000,0.000000,7.916667,0.000000,30.583333,0.000000,20.333333,4.583333
3,2010,FR,0.000000,31.666667,49.833333,8.083333,10.000000,26.833333,0.000000,11.583333,23.750000,0.000000,0.000000,0.000000,13.250000,0.000000,6.833333,8.333333
4,2010,GB,0.666667,19.916667,6.083333,3.333333,32.416667,53.500000,0.000000,74.916667,20.500000,3.416667,11.416667,0.000000,68.333333,5.416667,4.666667,9.583333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83,2020,FR,0.000000,34.666667,54.250000,12.000000,4.666667,17.750000,0.000000,14.333333,11.666667,0.000000,0.000000,0.000000,13.083333,0.000000,8.250000,34.166667
84,2020,GB,0.833333,18.916667,4.750000,3.666667,65.333333,33.833333,0.000000,39.333333,26.333333,1.916667,16.000000,0.000000,55.583333,38.250000,11.666667,72.583333
85,2020,JP,0.000000,18.333333,6.500000,1.833333,0.000000,0.000000,0.000000,6.250000,8.583333,0.000000,0.000000,0.000000,13.666667,0.000000,0.000000,8.666667
86,2020,KR,0.000000,6.166667,2.666667,1.250000,0.416667,3.833333,0.000000,3.333333,2.333333,1.333333,0.000000,0.000000,3.000000,0.500000,3.750000,8.583333
87,2020,US,0.000000,0.000000,4.166667,0.000000,19.666667,38.000000,0.333333,37.833333,42.666667,3.833333,6.666667,0.833333,41.333333,14.083333,5.000000,77.083333